/* General headings, texts, fonts group */
p{
    font-size: 18px;
    font-family: 'Noto Sans Display';
}

.text-muted{
    font-family: 'Noto Sans Display';
}

h1{
    font-family: "Montserrat"
}

.legend-title{
    font-family: "Montserrat";
}

a{
    color:#f01e2c;
}

a:hover{
    color:#d1001f;
}

/* Anything in body tag (navbar, container, footer, etc included) */
body {
    min-height: 100vh;
    background-color: #6e6e6e;
}

.container{
    min-height: 77.5vh;
    align-content: center;
    border-radius: 5px;
    padding: 4px;
    border: 3px solid black;
    background-color: #f5f5f5;
}

/* BTN-Primary Group */
.btn-primary{
    background-color:#f01e2c;
    border-color:#f01e2c;
    font-family: 'Montserrat';
}

.btn-primary:hover{
    background-color:#d1001f;
    border-color:#d1001f;
}

.btn-primary:focus{
    background-color:#d1001f;
    border-color:#d1001f;
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

.btn-primary:active{
    background-color:#d1001f;
    border-color:#d1001f;
}

.btn-primary:active:focus{
    background-color:#d1001f;
    border-color:#d1001f;
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

/* Btn-Outline-Info Group */
.btn-outline-info{
    color:#f01e2c;
    border-color:#f01e2c;
    font-family: 'Montserrat';
}

.btn-outline-info:hover{
    background-color: #f01e2c;
    border-color: #f01e2c; 
}

.btn-outline-info:active{
    background-color:#f01e2c;
    border-color:#f01e2c;
}

.btn-outline-info:focus{
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

.btn-outline-info:active:focus{
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

/* Btn-Info Group */
.btn-info{
    background-color:#d1001f;
    border-color:#d1001f;
}

.btn-info:hover{
    background-color: #f01e2c;
    border-color: #f01e2c;
}

.btn-info:active{
    background-color: #f01e2c;
    border-color: #f01e2c;
}

.btn-info:focus{
    background-color: #f01e2c;
    border-color: #f01e2c;
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

.btn-info:active:focus{
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

/* Form input box */
.form-control:focus{
    border-color: #6e6e6e;
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.25);
}

.form-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.form-control-label{
    font-family: 'Noto Sans Display';
}

/* Home page CSS */
.col-lg-9{
    align-content: center;
}

.col-md-6{
    align-content: center;
}

.homepage-content{
    text-align: center;
}

.homepage-divider{
    display: block;
    margin: 2rem 0;
    margin-left: auto;
    margin-right: auto;     
    width: 90%;
}

.homepage-subheading{
    font-family: "Zen Kaku Gothic New";
    text-align: center;
}

.img-fluid{
    min-width: auto;
    border-radius: 5px;
}

#titleHomepage{
    font-family: 'Montserrat';
}

/* Account Page CSS */
.account-information{
    text-align: center;
}

.account-heading{
    font-family: 'Montserrat'
}

.text-secondary{
    font-family: 'Zen Kaku Gothic New';
}

.legend-account{
    font-family: 'Montserrat';
}

.form-control-lg{
    font-family: 'Noto Sans Display';
}

.label-picture{
    font-family: 'Noto Sans Display';
}

.form-control-file{
    font-family: 'Noto Sans Display';
}

/* Login Page CSS */
.login-heading{
    font-family: 'Montserrat';
}

.label-login{
    font-family: 'Noto Sans Display';
}

.form-control{
    font-family: 'Noto Sans Display';
}

/* Sign Up Page CSS */
.legend-signup{
    font-family: 'Montserrat';
}

.signup-redirect{
    font-family: 'Noto Sans Display';
    color:#f01e2c;
}

.signup-redirect:hover{
    color: #d1001f;
}

/* Blog Page CSS */
.post-comment{
    font-family: 'Noto Sans Display';
}

.post-username{
    font-family: 'Zen Kaku Gothic New';
    color:#f01e2c;
    text-decoration: none;
    font-weight: 500;
}

.post-username:hover{
    color: #d1001f;
    font-weight: 550;
}

.post-title{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
}

.post-content{
    font-family: 'Noto Sans Display';
    font-weight: 400;
}

#numberComments{
    font-size:14px;  
    color:#f01e2c;
}

#numberComments:hover{
    color: #d1001f;
}

#numberComments{
    font-size:14px;     
}

#noneComments{
    font-size:14px; 
}

#commentInput{
    font-size:15px;
}

.dropdown-item:active{
    background-color: #f01e2c;
}

/* Navbar CSS */
.bg-dark{
    background-color: #0a0a0a !important; 
}

.nav-link {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    color: #f5f5f5 !important;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #f01e2c;
    position: absolute;
    bottom: 0;
    left: 0; 
}

.nav-link:hover::after {
    opacity: 1;
}

/* Footer CSS */
.sticky-footer{
    position: sticky;
    align-content: center;
    top: 100%;
}

#footerCopyright{
    font-size: 14px;
    font-family: 'Zen Kaku Gothic New';
}

#footerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footerLink{
    font-size: 16px;
}

/* Profile picture */
.article-img {
    height: 65px;
    width: 65px;
    margin: 16px;
}

/* Carousel css */
.carousel{
	background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

.carousel-caption{
	background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.carousel-caption h5{
    font-size: 24px;
    font-family: 'Montserrat';
}

.carousel-caption p{
    font-size: 14px;
    font-family: 'Noto Sans Display';
}

.carousel-item > img{
    height: 510px;
    object-fit: contain;
    object-position: center;
}

/* Miscellaneous CSS */

