{% extends "template.html" %} {% block title %}Home{% endblock %} {% block
content %}
<!-- Carousel-->
<div id="carouselHomepage" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselHomepage"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHomepage"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHomepage"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="static\assets\images\nissan_silvia_s13.jpg"
        class="d-block w-100"
        alt="Nissan Silvia S13"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>The Nissan Silvia S13</h5>
        <p>A JDM classic! Still so stylish even in 2024.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="static\assets\images\mf_ghost.jpg"
        class="d-block w-100"
        alt="MF Ghost Anime"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>MF Ghost Season 2!</h5>
        <p>
          The anime that makes adrenaline pump comes back for another season in
          October!
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="static\assets\images\goodwood_fos.jpg"
        class="d-block w-100"
        alt="Goodwood Festival of Speed"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Goodwood Festival of Speed 2023</h5>
        <p>
          A throwback showcasing the McLaren Speedtail, absolutely stunning.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselHomepage"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselHomepage"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Homepage Content -->
<div class="mt-2">
  <h1 class="text-center mb-3" id="titleHomepage">Welcome to Akina Nation!</h1>
  <div class="row">
    <!-- Main content -->
    <div class="col-xl-9 col-lg-8 col-md-6">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="homepage-subheading">What is this blog?</h3>
          <p class="homepage-content">
            On this blog, you can share things about your favourite cars, talk
            about your own cars, and much more. Akina Nation is used by people
            just like you, therefore, the website is an environment where you
            can be comfortable. From Japanese car culture such as Kaido Racers,
            Touge style builds, to American car culture such as drag racing, and
            muscle, there are so many things to talk about that you'll always
            learn something new and be interested about. Beside this text is a
            photo of racers potentially in the Wangan, in the style of the "Mid
            Night Club" that is now defunct.
          </p>
        </div>
      </div>
    </div>
    <!--  Side image -->
    <div class="col-xl-3 col-lg-4 col-md-6">
      <img
        src="static/assets/images/hashiriya.jpg"
        alt="Hashiriya"
        class="img-fluid mx-auto"
      />
    </div>
    <!-- Homepage divider -->
    <hr class="homepage-divider" />
    <div class="col-xl-9 col-lg-8 col-md-6 order-md-2">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="homepage-subheading">Our website name...</h3>
          <p class="homepage-content">
            The name "Akina Nation" is inspired by the anime "Initial D", we
            chose this name as it brings us back to the Japanese car culture of
            the 90s. Some may describe this era of cars as being the "golden
            age", with many still styling their cars the same way. The popular
            racing technique, "drifting" also influences the current era as it
            is a stylish move used to control oversteer in a skillful manner.
            Beside this text is a photo of the Nissan 180SX which is a popular
            drift car along with other "S-chassis" cars. Despite the website
            being inspired by Japanese car culture, it is not limited to that
            and users are able to talk about all types of car culture.
          </p>
        </div>
      </div>
    </div>
    <!-- Side image -->
    <div class="col-xl-3 col-lg-4 col-md-6 order-md-1">
      <img
        src="static/assets/images/oldschool.jpg"
        alt="180SX"
        class="img-fluid mx-auto"
      />
    </div>
  </div>
</div>

{% endblock %}
