{% extends "template.html" %}{% block title %}Update Post{% endblock %} {% block
content %}
<!-- Div for content section -->
<div class="content-section">
  <!-- Setting form method as POST -->
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- Fieldset tag to group form inputs-->
    <fieldset class="form-group">
      <legend class="border-bottom mb-3 pb-2 legend-title text-center">
        Update Post
      </legend>
      <!-- Form input for title field -->
      <div class="form-input">
        {{ form.title.label(class="form-control-label")}} {% if
        form.title.errors %}
        <!-- If errors, title field will be shown with error class -->
        {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        <!-- If no errors, show title field normally -->
        {{ form.title(class="form-control form-control-lg") }} {% endif %}
      </div>

      <!-- Form input for content/text field -->
      <div class="form-input">
        {{ form.text.label(class="form-control-label")}} {% if form.text.errors
        %}
        <!-- If errors, show content/text field with error class -->
        {{ form.text(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        <!-- If no errors, show content/text field normally -->
        {{ form.text(class="form-control form-control-lg") }} {% endif %}
      </div>
    </fieldset>
    <br />
    <!-- Submit button for form -->
    <div class="form-group" align="center">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
    <br />
    <div class="border-top pt-2"></div>
  </form>
</div>
{% endblock %}
